body,html {
    margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        background-color: #3d536c;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

.login-container {
    width: 300px;
    padding: 20px;
    text-align: center;
    background-color: #1a1f1f;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
}

input:hover {
    border: 2px solid #0062cc !important;
}

input:focus {
    border: 2px solid #0062cc !important;
}

button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #0062cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #01448f;
}

button:active {
    background-color: #012e6b;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
    color:#fff;
}

.button-container {
    display: flex;
    justify-content: center;
}

input.invalid{
    border: 2px solid red;
}

.response {
    color: red;
    font-size: 0.8rem;
    padding: 5px;
}

.response.invalid {
    color: red;
}

.response.valid {
    color: #00a400;
}
