#pistes div {
    position: relative;
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #f5f5f5;

}

.piste-divider {
    float: left;
    width: 300px;
    margin-top: 50px;
    padding: 50px;
}

.piste-title{
    width: 280px;
    font-size: 40px;
    text-align: center;
    background-color: var(--box-color);
    font-weight: bold;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 10px;
}

.piste-type-container {
    box-sizing: border-box;
    width: 300px;
    padding: 20px;
    text-align: center;
    background-color: var(--box-color);
    border-radius: 10px;
}

.piste-container {
    width: 100%;
    padding-bottom: 5px;
    padding-top: 5px;
}

.piste-texte {
    width: 50%;
    vertical-align: middle;

}

.margin{
    margin-left: 125px;
    margin-right: 125px;
}

.switch-position{
    vertical-align: middle;
}